<footer>
	<%= link_to 'Home', home_path %>	&nbsp;&nbsp;::&nbsp;&nbsp;
	<a href="/pages/faq">FAQ</a> &nbsp;&nbsp;::&nbsp;&nbsp;	
	<a href="/pages/about">About Us</a> &nbsp;&nbsp;::&nbsp;&nbsp;
	<a href="/pages/contact">Contact Us</a> &nbsp;&nbsp;::&nbsp;&nbsp;
	<a href="/pages/terms">Terms of Service</a> &nbsp;&nbsp;::&nbsp;&nbsp;
	<a href="/pages/privacy">Privacy Policy</a> &nbsp;&nbsp;::&nbsp;&nbsp;
	<a href="/pages/careers">Careers</a> &nbsp;&nbsp;::&nbsp;&nbsp;
	<br>
	<div id="copy">
		<p>	Webmaster: <%= mail_to("example@example.gov", "Campus Connect Administration", encode: "javascript") %> 
		&nbsp;&nbsp;&copy 2016 </p>
	</div>
	
</footer>