<div id="container" class="well">
  <center>
    <h1>Welcome</h1>
    <h3>(still in development...)</h3>

    <div id="buysell">
      <br>
      <div id='jobs'>
          <%= link_to 'View Posted Jobs', job_postings_path %>
      </div>
      <br><br>
      <div id='skills'>
          <%= link_to 'View Jobs People Will Do', asking_prices_path %>
      </div>
    </div>
  </center>
</div>
