<div id="container" class="well">
  <center>
    <h1>Welcome</h1>

    <div id="buysell">
      <br>
      <div id='buy'>
          <%= link_to 'Seek Services', buy_path %>
      </div>
      <br><br>
      <div id='sell'>
          <%= link_to 'Offer Services', sell_path %>
      </div>
    </div>
  </center>
</div>
