<div id="container" class="well">
  <center>
    <h1>Welcome</h1>
    <h3>(still in development...)</h3>

    <div id="buysell">
      <br>
      <div id='jobs'>
          <%= link_to 'View Unfulfilled Jobs', job_postings_path %>
      </div>
      <br><br>
      <div id='skills'>
          <%= link_to 'View Jobs Offerings', asking_prices_path %>
      </div>
      <br><br>
      <% if logged_in? %>
        <div id='accepted'>
            <%= link_to 'View Accepted Jobs', accepted_jobs_path %>
        </div>
        <br><br>
      <% end %>
      <div id='users'>
          <%= link_to 'View User Ratings', users_path %>
      </div>
    </div>
  </center>
</div>
