   <!-- Page Content -->
    <div class="container" id="second">
        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">About Campus Connect
                </h1>
                <ol class="breadcrumb">
                    <li><a href="/dashboard">Home</a>
                    </li>
                    <li class="active">About Us</li>
                </ol>
            </div>
        </div>

        <p> We are very innovative. We innovate so good. People, process and technology! </p>
