   <!-- Page Content -->
    <div class="container" id="second">
        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Campus Connect FAQ
                </h1>
                <ol class="breadcrumb">
                    <li><a href="/hub">Home</a>
                    </li>
                    <li class="active">FAQ</li>
                </ol>
            </div>
        </div>

        <ul> 
        <li> <p> Can I use this app to have sex?: <b> No. </b> </p> <br> </li>
        <li> <p> Can I use this app to cheat: <b> No. </b> </p> <br> </li>
        <li> <p> Can I use this app to sell drugs or engage in illegal activity: <b> No. </b> </p> <br> </li>
        <li> <p> Can I use this app to oost profanity, obscene material, or harrass users: <b> No. </b> </p> <br> </li>
        <li> <p> Is using this app lit?: <b> No. </b> </p> <br> </li>
        </ul>

  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Academic Integrity
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
      <p> Rule of Thumb: When in doubt, ask your instructor. </p> <br>
      <p> Campus Connect will assist academic institutions with identifying those account holders foundviolating these rules, so please don’t! Just because you delete a job, doesn’t mean we don’t have a log of it! </p>
      <br><br>
      <ul> 
        <li> <p> Is selling homework acceptable: <b> Nope! </b> </p> <br> </li>
        <li> <p> Is offering to do an exam, presentation, or other course related event acceptable: <b> Nope! </b> </p> <br> </li>
        <li> <p> Is help with a project or home assignment acceptable?  <b> Check with your instructor. </b> If the assignment allows for collaboration, then yes if its within the context of such collaboration.</p> <br> </li>
        <li> <p> Can someone edit my work?  <b> Nope! </b> </p> <br> </li>
        <li> <p> Is buying or selling notes allowed? <b> Material from previous courses, such as answers keys, homework assignments and exams are not allowed. </b> <br> ***Notes by fellow students in your course or those who have previously taken the course are allowed as long as they do not contain information described above. We recommend checking with your instructor just in case though! </p> <br> </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Dispute Resolution
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
      <p> If you use an external payment tool, such as PayPal and Venmo: Payment disputes must be handled through those services and we will give whatever information needed during the process.  <br><br>
      If you use our app’s payment mechanism, we will assist you through the process and reserve the right to make any judgements binding. 
      We can terminate accounts if they don’t adhere to rules! :( </p>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThree">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Privacy, Personal Info, and Data Security 
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">
        <p> Campus Connect lets you connect with people to find jobs or offer services. Any skill, job offer, and/or service offered is public, so others can connect with you!  <br> <br>
        Your personal information will never be sold to third parties and will not be disclosed unless you choose to do so or if we are required to be law. We encrypt your passwords and keep your information secured. </p>
      </div>
    </div>
  </div>
</div>
</div>

