<!-- Page Content -->
    <div class="container" id="second">
        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Campus Connect Terms of Service 
                </h1>
                <ol class="breadcrumb">
                    <li><a href="/hub">Home</a>
                    </li>
                    <li class="active">Terms of Service</li>
                </ol>
            </div>
        </div>

		By using the CampusConnect web site ("Service"), or any services of the CampusConnect organization ("CampusConnect"), you are agreeing to be bound by the following terms and conditions ("Terms of Service"). IF YOU ARE ENTERING INTO THIS AGREEMENT ON BEHALF OF A COMPANY OR OTHER LEGAL ENTITY, YOU REPRESENT THAT YOU HAVE THE AUTHORITY TO BIND SUCH ENTITY, ITS AFFILIATES AND ALL USERS WHO ACCESS OUR SERVICES THROUGH YOUR ACCOUNT TO THESE TERMS AND CONDITIONS, IN WHICH CASE THE TERMS "YOU" OR "YOUR" SHALL REFER TO SUCH ENTITY, ITS AFFILIATES AND USERS ASSOCIATED WITH IT. IF YOU DO NOT HAVE SUCH AUTHORITY, OR IF YOU DO NOT AGREE WITH THESE TERMS AND CONDITIONS, YOU MUST NOT ACCEPT THIS AGREEMENT AND MAY NOT USE THE SERVICES. <br><br>

		Any changes to these terms will be announced through an in-application announcement or via e-mail to registered users. New features and services for this application are subject to the Terms of Service. <br><br>

		Violation of the terms below may result in the suspension or termination of your Account. While the content prohibited per these terms may not be condoned, moderation cannot be responsible for the Content posted on the Service and you nonetheless may be exposed to such materials. You agree to use the Service at your own risk. <br><br>

		<h2> Account Terms </h2> 

		<ul>
			<li>You must be 18 years or older to use this Service. </li>
			<li>You must be human. Accounts registered through automated methods, such as “bots”, are not permitted.</li>
			<li>You must provide the requested information presented at registration to have an account.</li>
			<li> You are responsible for maintaining the security of your account and password. This Service is not liable for any loss or damage from your failure to comply with this security obligation, despite our best efforts to keep your login information secured using industry-standard methods. Users will be notified if any login data is found or suspected to be compromised and must follow the procedures given to change the information, as this Service will not be liable for damages incurred from ignoring those procedures. </li>
			<li>You are responsible for all Content posted and activity that occurs under your account.</li>
			<li>You may not use the Service for any illegal or unauthorized purpose. You must not, in the use of this Service, violate any laws in your jurisdiction (including but not limited to copyright or trademark laws). </li>
			<li>You agree that administrators can email you to inform you of updates to these terms of the privacy policy, along with other major Service updates.</li>
		</ul>
		 
		<h2> Community Guidelines </h2> 

		You agree, through your use of this Service, that you will not use this Service to post any material which is knowingly false and/or defamatory, inaccurate, abusive, vulgar, hateful, harassing, obscene, profane, sexually oriented, threatening, invasive of a person's privacy, or otherwise in violation of any law. <br><br>

		Pornography, racist, sexist, discriminatory, prejudice, and illegal content are not allowed on this Service. Violators will have their accounts terminated. <br><br>

		We aim to provide a vibrant community where users can connect with others to get jobs done. We ask all users to treat each other with respect. Moderation may issue warnings via e-mail or take any other disciplinary actions deemed necessary for content posted. Appeals to moderator decisions can be submitted via the Contact Us page. <br><br>

		To help ensure the quality of work and provide a measure of accountability for both Job Seekers and Job Creators, users have the ability to review each other at the conclusion of a business transaction. Any attempt to review users who you’ve had no business transaction on the service with, or abuse of the review process in any way, including creating additional accounts for the purpose of reviewing your own account, will result in account termination. <br><br>

		<h2> Copyright, Content Ownership and Plagiarism </h2> 

		CampusConnect provides an awesome way for college students to connect and get work done. However, CampusConnect is not a platform for offering to do homework, course related assignments, exams, and school projects. The sale of services or academic material to others is strictly against our community’s vision and rules. <br><br>

		Monitoring will be done to detect jobs that involve or imply the sale of work or services for school related activities. Such acts may be removed from CampusConnect and the associated users with the offending material may be subject to account suspension or termination. <br><br>

		Furthermore, in addition to removing material, attempts to notify instructors and the appropriate institution will be made, which may result in disciplinary action from your college’s administration in accordance to their cheating and plagiarism policies. <br><br>

		In short- your institution's rules for plagiarism and cheating apply on CampusConnect. <br><br>

		<h2> Dispute Resolution </h2> 

		In the unfortunate event that a Job Creator and Job Seeker are having difficulties in completing a transaction agreed to through CampusConnect, either party can initiate a dispute resolution case, by filling out this form: (FORM LINK HERE). CampusConnect administration reserves the right to arbitrate in disputed claims and make the final decision regarding payment and job completion. By agreeing to use this service, you acknowledge that you allow CampusConnect to determine the outcome of any dispute claim and that you will follow the judgement made my administration. Appeals to administrative decisions can be made through appropriate legal venues. 
		Payments made through online services such as PayPal and Venmo are subject to their own dispute resolution mechanism and CampusConnect will work with them as necessary.  <br><br>

		<h2> Account Termination </h2> 
		You are solely responsible for properly cancelling your account. An email using the contact information for the Service must be used to request cancellation. Upon cancellation, you will be unable to login. You may request via e-mail to have your account reactivated; however, the Service is not obligated to reactive any accounts. <br><br>

		Upon account termination, your user account, information related to your user account, and transactions will be inaccessible. However, records such as transaction and reviews will remain in our system in order to comply with any legal or judicial process. <br><br>

		In its sole discretion, this Service has the right to suspend or terminate your account and refuse any and all current or future use of the Service, for any reason at any time. <br><br>

		Termination requests, along with any questions or comments can be submitted by viewing the  <a href="/pages/contact">Contact Us page here.</a> 
	</div>

